<h1>Contact List</h1>
<p>Contact Name: <span id="contact-name"></span></p>
<p>Contact Email: <span id="contact-email"></span></p>
<button id="get-all-contacts">Get Contacts</button>

<table id="contact-list">
	<tr class="table-header">
		<td>First Name</td>
		<td>Last Name</td>
		<td>Email</td>
	</tr>
</table>