<h1>Contact List</h1>

<p>Message: <span id="message"></span></p>
<form>
	<input id="search-term" type="text" placeholder="Search term...">
	<button id="search-contacts">Search</button>
</form>
<button id="show-contact-form">Add</button>

<form hidden id="contact-form" data-purpose="add">
	<input id="contact-id" type="hidden">
	<input id="contact-first-name" type="text" placeholder="First Name">
	<input id="contact-last-name" type="text" placeholder="Last Name">
	<input id="contact-email" type="text" placeholder="Email">
	<button id="add-contact">Submit</button>
</form>

<table hidden id="contact-list">
	<thead>
		<tr class="table-header">
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Delete</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>