<h1>Contact List</h1>
<!-- <p>Contact Name: <span id="contact-name"></span></p> -->
<!-- <p>Contact Email: <span id="contact-email"></span></p> -->
<button id="get-all-contacts">Get Contacts</button>
<input id="search-term" type="text">
<button id="search-contacts">Search Contacts</button>

<table id="contact-list">
	<thead>
		<tr class="table-header">
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>