<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="/javascript/jquery.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
	<div class="container">
  	<%= yield %>
  </div>
</body>
</html>
